@using CSharpProject.Models

<center>
<h3 style="color:#07528a">Public Answers</h3>
</center>
@foreach(Answer ans in Model)
                 {
                    @Html.ActionLink("Remove this Answer", "DeleteAnswer", new { id=ans.Id})
    
                     
                    <div style="background-color:#baf3ec; padding-top:1em; padding-right:1em; padding-left:1em">
                   <h4>@ans.Answer1</h4>
                    
                    
                     
                     @if(ans.Image != null)
                     {
                         <img src="~/Content/Answers/@ans.Image" alt="Image" style="width:80px; height:80px"/>
                         <br /><br />
                     }

                    @if (ans.ProfilePicture != null)
                    {
                        <img src="~/Content/ProfilePictures/@ans.ProfilePicture" alt="Image" style="width:50px; height:50px; float:right"/>
                    }
                    <b style="float:right">Answered by: @ans.username</b> <br />
                    <b style="float:right">Answered at: @ans.Date</b>
                     <br />
                     
                        <br />
                    
                     </div>
                     <br /><br />
                 }


                     
                 