@model CSharpProject.Models.Question

<h2>@Model.Title?</h2>
                 
                 <br />
                 
                 <p style="font-size:16px"> @Model.Question1</p>
                 <br />
                 <p><b>Posted by @Model.username</b></p>
                 <br />
                 
                 <br /><br />

         <br /><br />
   
        